.full-bar {
    display: flex;
    justify-content: center;
    .content-breadcrumbs {
        display: flex;
        width: 1100px;
        justify-content: space-between;
        .left-part-a {
            text-align: left;
        }

        .right-part {
            text-align: right;
        }
    }
}