@import '../../../utilities/Style.scss';

.csv-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 545px;
    gap: 2rem;
    border: 1px solid $color-white;
    padding-bottom: 4rem;
    padding-top: 2rem;

    .drag-drop-field {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        height: 200px;
        width: 350px;
        border: 1px solid $color-white;
        cursor: pointer;

        p {
            margin: 0;
            text-align: center;
        }

        .first-two {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .upload-photos {
                color: $color-purple;
                font-weight: $font-weight-bold;
                font-size: $font-size-normal;
            }

            .or-just {
                font-size: $font-size-normal;
                color: $color-black;
            }
        }
    }

    .upload-button {
        font-size: $font-size-normal;
        border: none;
        background-color: $color-purple;
        color: #fff;
        font-weight: $font-weight-semibold;
        padding: 12px 16px 12px 16px;
        cursor: pointer;
    }

    .error-message {
        font-size: $font-size-normal;
        font-weight: $font-weight-semibold;
        color: red;
    }
}