@import "../../../utilities/Style.scss";
.product {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    .picture {
        width: 262px;
        height: 262px;
    }

    h5 {
        text-align: left;
        font-weight: $font-weight-semibold;
        font-size: $font-size-large;
        line-height: $line-height-large;
        margin: 0;
        color: $color-black
    }
    
    p {
        margin: 0;
        text-align: left;
        font-weight: 500;
        line-height: 19.2px;
        letter-spacing: 0.84px;
        color: $color-grey;
    }

    .price {
        color: $color-purple;
        font-weight: $font-weight-bold
    }
}