@import "../../utilities/Style.scss";

.search-page-full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu-a {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        width: 1120px;
    }

    .did-you-mean {
        color: $color-grey;
        padding-right: 20rem;
        .navlink {
            text-decoration: none;
            color: $color-purple;
            cursor: pointer;
        }
    }

    .paragraph {
        margin-top: 2.5rem;
    }
}