@import "../../utilities/Style.scss";

main {
    min-height: 100vh;
    .did-you-mean {
        margin-left: 45rem;
        color: $color-grey;
    
        .navlink {
            text-decoration: none;
            color: $color-purple;
    
        }
    }
    
    p {
        margin-top: 2.5rem;
    }
}