@import "../../utilities/Style.scss";

.search-page-full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .did-you-mean {
        color: $color-grey;
        padding-right: 20rem;
        .navlink {
            text-decoration: none;
            color: $color-purple;
            cursor: pointer;
        }
    }

    .paragraph {
        margin-top: 2.5rem;
    }
}