@import "../../utilities/Style.scss";

.search-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 1.5rem;

    .content {
        display: flex;
        width: 1120px;
        margin-bottom: 4rem;
        justify-content: space-between;

        .all-filters {
            display: flex;
            flex-direction: column;
            gap: 27px;
            .product-categories {
                display: flex;
                flex-direction: column;
                width: 214px;
                padding: 24px;
                border: 1px solid $color-white;

                &.headline {
                    color: $color-purple;
                    white-space: nowrap;
                    padding: 0;
                    margin: 0;
                    margin-bottom: 24px;
                    border: none;
                }

                .item {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    .title {
                        display: flex;
                        justify-content: space-between;
                        cursor: pointer;

                        p {
                            padding: 0;
                            margin: 0;
                        }
                    }

                    .subcategories,
                    .subcategories-show {
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                    }

                    .subcategories {
                        max-height: 0;
                        overflow: hidden;
                        transition: all 0.5s cubic-bezier(0, 1, 0, 1);

                        &.show {
                            height: auto;
                            max-height: 9999;
                            transition: all 0.5s cubic-bezier(1, 0, 1, 0);
                        }

                    }

                    .subitem {
                        display: flex;
                        gap: 8px;
                    }

                    .subcategories-show {
                        margin: 0px 0px 24px 0px;
                    }

                    p.subcategory {
                        margin: 0;
                        color: $color-grey;
                    }

                }

                ul,
                li {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                }
            }

            .price-filter {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                padding: 24px 24px 32px 24px;
                border: 1px solid $color-white;
                .price-range-text {
                    margin: 0;
                }
                .numbers {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 3rem;
                    input {
                        border: 1px solid $color-grey;
                        height: 46px;
                        padding: 0;
                        color: $color-grey;
                        text-align: center;
                        width: 88px;
                    }
                }
                .spinner {
                    .multi-range-slider {
                        box-shadow: none;
                        border: none;
                    }
                    .bar-inner {
                        background-color: $color-purple;
                    }
                }

                .apply-price-button {
                    height: 50px;
                    font-size: $font-size-normal;
                    border: none;
                    background-color: $color-purple;
                    color: #fff;
                    font-weight: $font-weight-semibold;
                }
            }
        }

        .products-part {
            display: flex;
            flex-direction: column;
            gap: 27px;

            .filter-tags-bar {
                display: flex;
                justify-content: space-between;

                .remove-tag {
                    font-size: 10px;
                    color: $color-grey;
                    cursor: pointer;
                }

                .tag-headline {
                    font-size: 14px;
                    font-weight: $font-size-normal;
                    color: $color-grey;
                    line-height: 24px;
                }

                .tag-text {
                    font-size: $font-size-normal;
                    color: $color-black;
                    font-weight: 400;
                }

                .filter-category, .filter-price {
                    display: flex;
                    flex-direction: column;
                }

                .filter-category, .filter-price {
                    width: 220px;
                    .tag {
                        display: flex;
                        justify-content: space-between;
                    }
                }

                .clear-all-section {
                    display: flex;
                    align-items: center;
                    button {
                        p {
                            margin: 0;
                            color: $color-grey;
                        }
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border: 1px solid $color-white;
                        background-color: #fff;
                        gap: 8px;
                        height: 40px;
                        padding: 8px 16px 8px 16px;

                    }
                }
            }

            .sorting-grid-list {
                .dropdown-select {
                    font-family: 'Lato', sans-serif;
                    height: 3rem;
                    width: 268px;
                    flex: 1;
                    font-size: 16px;
                    padding-left: 21px;
                    border: 2px solid $color-white;
                }
            }

            .products-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 81px;
                margin-bottom: 83px;

                .products-gridview {
                    display: grid;
                    grid-template-columns: repeat(3, 267.45px);
                    width: 834px;
                    justify-content: space-between;
                    row-gap: 40px;
                }

                .explore-more-button {
                    width: 207px;
                    height: 56px;
                    font-weight: $font-weight-bold;
                    color: #fff;
                    border: none;
                    background-color: $color-purple;
                    cursor: pointer;
                }
            }
        }
    }
}