@import "../../utilities/Style.scss";

.terms-page {
    display: flex;
    flex-direction: column;
    gap: 64px;
    .content {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0% 30% 0% 30%;
        gap: 32px;

        h6 {
            font-size: 20px;
            letter-spacing: 0.84px;
            color: #252525;
            margin: 0;
        }

        p,
        li {
            color: $color-grey;
        }

        .chapter {
            gap: 24px;
        }
    }
}