@import "../utilities/Style.scss";

.page {
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-part {
            text-align: right;
            flex: 1.3;
            margin-right: 39%;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 30%;
        margin-right: 30%;
        gap: 32px;

        h6 {
            font-size: 20px;
            letter-spacing: 0.84px;
            color: #252525;
        }

        p,
        li {
            color: $color-grey;
        }

        .chapter {
            gap: 24px;
        }

    }
}