@import '../utilities/Style.scss';

.navbar-black-logged {
    height: 40px;
    background-color: $color-black;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0 22.5rem 0 22.5rem;
    .welcome-part {
        display: flex;
        gap: 50px;
        p {
            color: #fff;
            margin: 0;
        }
        .logout-button {
            cursor: pointer;
        }
    }
}